.left {
    width: 50%;
    background: var(--primary);
    color: var(--surface);
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    overflow: hidden;
}

.left-content{
    text-align:center;
}

.logo-icons{
    display:flex;
    justify-content:center;
    gap:12px;
    margin-bottom:18px;
}

.logo-icons img{
    width:38px;
    height:38px;
}

.left h1{
    font-size:58px;
    font-weight:var(--fw-bold);
    margin-bottom:18px;
}

.left p{
    max-width:500px;
    font-size:22px;
    line-height:1.6;
}

.circle{
    position:absolute;
    border:1px solid rgba(255,255,255,.15);
    border-radius:50%;
}

.circle.one{
    width:240px;
    height:240px;
    top:70px;
    left:70px;
}

.circle.two{
    width:150px;
    height:150px;
    top:320px;
    left:270px;
}

.circle.three{
    width:360px;
    height:360px;
    bottom:40px;
    left:270px;
}

/* Right Side */

.right{
    width:50%;
    background:var(--background);
    display:flex;
    justify-content:center;
    align-items:center;
}

.form-box{
    width:420px;
}

.form-box h2{
    font-size:var(--fs-title);
    color:var(--text-primary);
    font-weight:var(--fw-bold);
    margin-bottom:10px;
}

.subtitle{
    color:var(--text-secondary);
    font-size:var(--fs-subtitle);
    margin-bottom:40px;
}

.form-group{
    margin-bottom:22px;
}

.form-group label{
    display:block;
    margin-bottom:8px;
    font-size:var(--fs-label);
    color:var(--text-primary);
}

.form-group input{
    width:100%;
    height:52px;
    border:1px solid var(--border);
    border-radius:var(--radius-sm);
    padding:0 18px;
    font-size:var(--fs-input);
    background:var(--surface);
}

.form-group input::placeholder{
    color:var(--text-secondary);
}

.forgot{
    text-align:right;
    margin-bottom:25px;
}

.forgot a{
    color:var(--primary);
    font-size:var(--fs-small);
}

.signin-btn{
    width:100%;
    height:52px;
    background:var(--primary);
    color:var(--surface);
    border-radius:var(--radius-sm);
    font-size:var(--fs-button);
}

.signin-btn:hover{
    background:var(--primary-hover);
}

.google-btn{
    width:100%;
    height:52px;
    margin-top:18px;
    background:var(--surface);
    border:1px solid var(--border);
    border-radius:var(--radius-sm);
    font-size:var(--fs-label);
}

.signup{
    margin-top:28px;
    text-align:center;
    color:var(--text-secondary);
}

.signup a{
    color:var(--primary);
    font-weight:var(--fw-medium);
}